body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#heading{
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#middle{
  height:80vh;
  width: 70vw;
  border:2px solid black;
  position:relative;
  left:15%;
}




@media(max-width:850px){
  #middle{
    height:90vh;
    width:90vw;
    left:0;
    margin:auto auto;
  }
  .task-btn{
    height:3rem;
    width:5rem;
  }
}


